extends layout

block content
    h1= "Select a Stock!"
    form(action="/ps4" method="POST")
    p Name:
        input(type="text" name="name" placeholder="")

    input(type="submit" onclick=move)

script.
    function move() {
        window.location.href = '/ps4/b'
    }
